@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
*
{
font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;

}
body{
  background: linear-gradient(#0c1db3,#033241);
  overflow-x: hidden;
  
}
header {
  position: absolute;
  width: 100%;
  top:0;
  left:0;
  display: flex;
  justify-content: space-between;
  
  align-items: center;
  padding: 1.5% 6%;
  z-index: 1003;
}
section{
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex ;
  align-items: center;
  justify-content: center;
 
}
header .logo{
  font-size: 2.3em;
  text-decoration: none;
  color: white;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform:uppercase;
}
header nav ul a{
  text-decoration: none;
  color: white;
  border-radius: 40px;
  padding: 5px 10px;
}
header nav ul{
  display: flex;
  list-style: none;
  width: 100%;
}
header nav ul li{
  margin-left: 20px;
  font-size: 1.1em;
}
header nav ul a:hover{
  background-color: white;
  color: blue;
}
section img{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  top:0;
  
}


img#moon{
  position: absolute;
  mix-blend-mode: screen;
  z-index: 4;
  top: 100px;
  
}
#main{
  position: relative;
  padding: 100px 40px 100px 40px;
  background: #210442;
  color: white;
  z-index: 5;
}
section::before{
  content: ' ';
  bottom: 0px;
  position: absolute;

  height: 100px;
  width: 100%;
  z-index: 6;
  background: linear-gradient(to top, rgb(33, 4, 66),transparent);
}

footer{
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 30px 0px 30px 0px;
  background: linear-gradient(to top, rgb(0, 41, 223), #210442);
  z-index: 100000;
  position: relative;
  border-top: solid 4px #081763;
}
footer a{
  color: white;
  text-decoration: none;
}
main #ugu{
 
  display: flex;
  justify-content: center;
  font-size: 3em;
}
#btn{
  position: absolute;
  top:400px;
  text-decoration: none;
  z-index: 4;
  font-weight:500;
  font-size: 1.5em;
  padding: 7px 15px;
  background-color: white;
  border-radius: 40px;
}
section #text{
  color: white;
  text-transform: uppercase;
  font-size: 5em;
  position: absolute;
  z-index: 4;
}
section #mfront{
  z-index: 5;
}
section #mbehind{
  z-index: 3;
}
